
.column-1 {
    column-width: 200px;
    column-gap: 20px;
}

.column-2 {
    column-count: 3;
    column-rule: 2px dotted grey;
    column-gap: 40px;
}

.column-3 {
    column-width: 300px;
    column-count: 2;

    column-rule-width: 1px;
    column-rule-style: solid;
    column-rule-color: red;
}